p,
h1, 
h2, 
h3,
h4 {
  font-family: 'Lato', sans-serif;
}

#pets-header {
  font-size: 50px;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

.pets-container {
  margin-left: 0;
}

.pets-section {
  padding-bottom: 5em;
}

.pets-container ul {
  display: block;
  list-style-type: none;
  margin: 0 auto;
  max-width: 90%;
}

.text-background {
  background-color: black;
  color: white;
  opacity: 80%;
  width: 5em;
  font-size: 0;
}

.modal-body {
  height: 290px;
  background-color: #f8f5f2;
  padding: 2em;
  border: .3px solid black;
  border-radius:.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.modal-body img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 2px solid black;
  margin-top: 1.5em;
}

.profile-posts-center {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.profile-posts-center h1, h4 {
  text-transform: uppercase;
}

.profile-posts-center h4 {
  font-weight: lighter;
}

.flex-body {
  display: flex;
  flex-direction: row;
}

.profile-card-contents {
  line-height: 1em;
}

@media (max-width: 640px) {
  #modal-button {
    padding: 12em;
    margin-left: -1em;
  }
  .modal-body {
    height: 183px;
    padding: 1em;
  }
  .modal-body img {
    width: 120px;
    height: 120px;
  }
  .MuiBox-root.css-1rxi6q3 {
    height: 210px;
    width: 300px;
  }
  .profile-posts-center h1 {
    font-size: 16px;
  }
  .profile-posts-center h4 {
    font-size: 10px;
  }
}