* {
  font-family: "Lato", sans-serif;
}

#pets-header {
  font-size: 50px;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  font-weight: 600;
}

.pets-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  max-width: 95%;
}

.text-background {
  background-color: black;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  opacity: 80%;
}


.modal-body {
  height: 290px;
  overflow-y: auto;
  background-color: #f8f5f2;
  padding: 2em;
  border: .3px solid black;
  border-radius:2em;
}

/* .profile-posts {
  padding: 2em;
} */

.modal-body img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profile-posts-center {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.flex-body {
  display: flex;
  flex-direction: row;
}

/* .modal-footer {
  display: flex;
  flex-direction: row;
  gap: 2em;
  overflow: hidden;
  padding: 1em;
} */

/* .modal-footer img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 3em;
} */

